html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Courier New', 'Monaco', 'Menlo', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #03060d;
  color: #f5f8ff;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
